
<jhi-critere-recherche></jhi-critere-recherche>
<div class=" container-fluid mb-3">
    <ul class="nav nav-tabs nav-justified">    
          <!--- menu pour une recherche de rerésentant légal-->  
          <ng-container  *ngFor="let menu  of responsableRecord.menus">
            <li class="nav-item" >
                <a [class.active]="getCritereRechercheService().ongletActive==menu" [class.nav-link]='true' (click)="ongletActif(menu)">{{menu}}</a>
              </li>
           </ng-container>
    </ul>
</div>
<div class="container-fluid mb-3">
        <ng-container *ngIf="getCritereRechercheService().ongletActive==='Résumé'">
                <ng-container  *ngFor="let menu  of responsableRecord.menus">
                    <div class="container-fluid mb-3">
                        <div class="row">
                            <ng-container *ngIf="menu!=='Résumé'">
                                <div class="col-sm-12 align-self-center">
                                    <h4> {{menu}}</h4>
                                    <div class="table-responsive">
                                        <table class="table table-sm table-striped table-bordered">
                                            <thead class="thead-dark">
                                                <tr> 
                                                        <ng-container  *ngFor=" let key of getkeys(getResponsableSystemeInf(menu). responsableResume)">
                                                            <th jhiTranslate="outilDiagnostic.representant.{{menu}}.resume.{{key}}"></th>    
                                                        </ng-container>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr *ngFor="let responsable of responsableRecord.responsables">
                                                            <ng-container *ngIf="responsable.systemeInf===menu">
                                                                <ng-container *ngFor= "let key of getkeys( responsable.responsableResume)">
                                                                <td>
                                                                    <ng-container *ngIf=" responsable.responsableResume[key].length>1" >
                                                                        <tr *ngFor=" let valeur of  responsable.responsableResume[key]">
                                                                            <td>
                                                                                {{valeur}}
                                                                            </td>
                                                                        <tr>
                                                                    </ng-container>
                                                                    <ng-container *ngIf=" responsable.responsableResume[key].length<=1" >
                                                                        {{ responsable.responsableResume[key]}}
                                                                    </ng-container>
                                                                </td>
                                                                </ng-container>
                                                            </ng-container>
                                                    </tr>
                                                </tbody> 
                                        </table>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
        </ng-container>
        <ng-container  *ngFor="let menu  of responsableRecord.menus">
                <div class="container-fluid mb-3">
                    <div class="row">
                        <ng-container *ngIf="getCritereRechercheService().ongletActive==menu && getCritereRechercheService().ongletActive!=='Résumé'">
                            <div class="col-sm-12 align-self-center">
                                <h4> {{menu}}</h4>
                                <div class="table-responsive">
                                    <table class="table table-sm table-striped table-bordered">
                                        <thead class="thead-dark">
                                            <tr> 
                                                <ng-container  *ngFor=" let key of getkeys(getResponsableSystemeInf(menu).responsableResume)">
                                                    <th jhiTranslate="outilDiagnostic.representant.{{menu}}.resume.{{key}}"></th>    
                                                 </ng-container>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let responsable of responsableRecord.responsables">
                                                <ng-container *ngIf="responsable.systemeInf===menu">
                                                    <tr (click)="afficheDetail(responsable,menu)">
                                                        <ng-container *ngFor= "let key of getkeys(responsable.responsableResume)">
                                                            <td>
                                                                <ng-container *ngIf="responsable.responsableResume[key].length>1" >
                                                                    <tr *ngFor=" let valeur of responsable.responsableResume[key]">
                                                                        <td>
                                                                                {{valeur}}
                                                                        </td>
                                                                    <tr>
                                                                </ng-container>
                                                                <ng-container *ngIf="responsable.responsableResume[key].length<=1" >
                                                                    {{responsable.responsableResume[key]}}
                                                                </ng-container>
                                                            </td>
                                                        </ng-container>
                                                    </tr>
                                                    <tr>
                                                        <ng-template [ngIf]= "getRepresentantLegalService().getResponsableOnglet(menu)!==null && responsable===getRepresentantLegalService().getResponsableOnglet(menu)">
                                                            <table class="table table-sm table-striped" >
                                                                <thead class="bg-primary">
                                                                    <tr ><th>Propriété</th><th>Valeur(s)</th></tr>
                                                                </thead>
                                                                 <tbody>
                                                                         
                                                                    <tr  *ngFor= "let key of getkeys(responsable.responsableDetaille)">
                                                                        <th jhiTranslate="outilDiagnostic.representant.{{menu}}.detaille.{{key}}"></th>
                                                                        <td class="col-sm-12">
                                                                            <ng-container *ngIf="getRepresentantLegalService().getResponsableOnglet(menu).responsableDetaille[key].length>1" >
                                                                                <ng-container *ngFor=" let valeur of getRepresentantLegalService().getResponsableOnglet(menu).responsableDetaille[key]">
                                                                                    <tr>
                                                                                        <td>
                                                                                            {{valeur}}
                                                                                        </td>
                                                                                    </tr>
                                                                                </ng-container>
                                                                            </ng-container>
                                                                            <ng-container *ngIf="getRepresentantLegalService().getResponsableOnglet(menu).responsableDetaille[key].length<=1" >
                                                                                {{getRepresentantLegalService().getResponsableOnglet(menu).responsableDetaille[key]}}
                                                                            </ng-container>
                                                                        </td>
                                                                    </tr>            
                                                                </tbody>
                                                            </table>
                                                        </ng-template>
                                                    </tr>
                                                </ng-container>
                                            </ng-container>
                                         </tbody> 
                                    </table>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
                
                    
                  
    