
<jhi-critere-recherche></jhi-critere-recherche>
<div class=" container-fluid mb-3">
    <ul class="nav nav-tabs nav-justified">    
      <!--- Menu pour une recherche d'éléve-->  
      <li class="nav-item">
          <a  [class.active]="critereRechercheService.ongletActive=='resume'" [class.nav-link]='true' (click)="ongletActif('resume')"   jhiTranslate="outilDiagnostic.critereRecherche.resume"></a>
        </li>
      <li class="nav-item" >
          <a [class.active]="critereRechercheService.ongletActive=='siecle'" [class.nav-link]='true'  (click)="ongletActif('siecle')"  jhiTranslate="outilDiagnostic.critereRecherche.ldapSiecle"></a>
      </li>
      <li class="nav-item">
            <a  [class.active]="critereRechercheService.ongletActive=='aaf'" [class.nav-link]='true' (click)="ongletActif('aaf')"  jhiTranslate="outilDiagnostic.critereRecherche.ldapAaf"></a>
      </li>
      <li class="nav-item" >
            <a  [class.active]="critereRechercheService.ongletActive=='toutatice'" [class.nav-link]='true' (click)="ongletActif('toutatice')"  jhiTranslate="outilDiagnostic.critereRecherche.ldapToutatice"></a>
      </li>
      <li class="nav-item">
          <a  [class.active]="critereRechercheService.ongletActive=='eduConnect'" [class.nav-link]='true' (click)="ongletActif('eduConnect')"  jhiTranslate="outilDiagnostic.critereRecherche.ldapEduConnect"></a>
      </li>
      <li class="nav-item">
        <a  [class.active]="critereRechercheService.ongletActive=='aten'" [class.nav-link]='true' (click)="ongletActif('aten')"   jhiTranslate="outilDiagnostic.critereRecherche.ldapAten"></a>
      </li>
    </ul>
</div>
<div class="container">
    <!-- onglet resume-->
        <div *ngIf="critereRechercheService.ongletActive=='resume'">
            <div class="row">
                <div class="col-sm-12 align-self-center">
                    <h4 jhiTranslate="outilDiagnostic.critereRecherche.ldapSiecle"></h4>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauSiecle.nom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauSiecle.prenom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauSiecle.identifiant"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauSiecle.birthday"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauSiecle.etablissement"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauSiecle.responsable"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let eleve of eleves">
                                    <ng-template [ngIf]="eleve.nomSiecle!=null  || eleve.prenomSiecle!=null || eleve.identifiantSiecle!=null || eleve.dateNaissanceSiecle!=null || eleve.etablissementSiecle!=null || eleve.representantLegalSiecle.length!=0">
                                        <td>{{eleve.nomSiecle}}</td>
                                        <td>{{eleve.prenomSiecle}}</td>
                                        <td>{{eleve.identifiantSiecle}}</td>
                                        <td>{{eleve.dateNaissanceSiecle}}</td>
                                        <td>{{eleve.etablissementSiecle}}</td>
                                        <td>
                                            <tr *ngIf="eleve.representantLegalSiecle.length!=0">
                                                <td  *ngFor="let representant of eleve.representantLegalSiecle">{{representant.nom }} {{representant.prenom}}</td>
                                            </tr>
                                        </td> 
                                        <td  class="text-right"><a (click)="afficheDetail(eleve,'siecle')" class="btn btn-sm btn-info"><i jhiTranslate="outilDiagnostic.eleve.detail" class="fa fa-eye"></i></a></td>
                                    </ng-template>
                                </tr>
                            </tbody>  
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 align-self-center">
                    <h4 jhiTranslate="outilDiagnostic.critereRecherche.ldapAaf"></h4>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAaf.nom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAaf.prenom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAaf.identifiant"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAaf.birthday"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAaf.etablissement"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAaf.classe"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let eleve of eleves">
                                    <ng-template [ngIf]="eleve.nomAaf!=null || eleve.prenomAaf !=null || eleve.identifiantAaf !=null || eleve.dateNaissanceAaf!=null || eleve.classeAaf !=null">
                                        <td>{{eleve.nomAaf}}</td>
                                        <td>{{eleve.prenomAaf}}</td>
                                        <td>{{eleve.identifiantAaf}}</td>
                                        <td>{{eleve.dateNaissanceAaf}}</td>
                                        <td>{{eleve.etablissementAaf}}</td> 
                                        <td>{{eleve.classeAaf}}</td>   
                                        <td class="text-right"><a (click)="afficheDetail(eleve,'aaf')" class="btn btn-sm btn-info"><i jhiTranslate="outilDiagnostic.eleve.detail" class="fa fa-eye"></i></a></td>
                                    </ng-template>
                                </tr>
                            </tbody>  
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 align-self-center">
                    <h4 jhiTranslate="outilDiagnostic.critereRecherche.ldapToutatice"></h4>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauToutatice.nom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauToutatice.prenom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauToutatice.identifiant"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauToutatice.mail"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauToutatice.etatCompte"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauToutatice.lastCon"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let eleve of eleves" >
                                    <ng-template [ngIf]="eleve.nomToutatice!=null || eleve.prenomToutatice !=null || eleve.identifiantToutatice!=null || eleve.mailToutatice !=null || eleve.etatCompteToutatice !=null || eleve.lastConToutatice!=null ">
                                        <td>{{eleve.nomToutatice}}</td>
                                        <td>{{eleve.prenomToutatice}}</td>
                                        <td>{{eleve.identifiantToutatice}}</td>
                                        <td>{{eleve.mailToutatice}}</td>
                                        <td>{{eleve.etatCompteToutatice}}</td>  
                                        <td>{{eleve.lastConToutatice}}</td>  
                                        <td   class="text-right"><a (click)="afficheDetail(eleve,'toutatice')"  class="btn btn-sm btn-info"><i jhiTranslate="outilDiagnostic.eleve.detail" class="fa fa-eye"></i></a></td>
                                </ng-template>
                                </tr>
                            </tbody>  
                        
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 align-self-center">
                    <h4 jhiTranslate="outilDiagnostic.critereRecherche.ldapEduConnect"></h4>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauEduConnect.nom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauEduConnect.prenom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauEduConnect.identifiant"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauEduConnect.mail"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauEduConnect.etatCompte"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauEduConnect.lastCon"></th>
                                    <th></th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let eleve of eleves">
                                    <ng-template [ngIf]="eleve.nomEduconnect!=null|| eleve.prenomEduconnect!=null || eleve.identifiantEduconnect!=null|| eleve.mailEduconnect!=null||eleve.etatCompteEduconnect!=null || eleve.lastConEduconnect!=null">
                                        <td>{{eleve.nomEduconnect}}</td>
                                        <td>{{eleve.prenomEduconnect}}</td>
                                        <td>{{eleve.identifiantEduconnect}}</td>
                                        <td>{{eleve.mailEduconnect}}</td>
                                        <td>{{eleve.etatCompteEduconnect}}</td>  
                                        <td>{{eleve.lastConEduconnect}}</td>  
                                        <td class="text-right"><a (click)="afficheDetail(eleve,'Educonnect')" class="btn btn-sm btn-info"><i jhiTranslate="outilDiagnostic.eleve.detail" class="fa fa-eye"></i></a></td>
                                    </ng-template>
                                </tr>
                            </tbody>  
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 align-self-center">
                    <h4 jhiTranslate="outilDiagnostic.critereRecherche.ldapAten"></h4>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAten.nom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAten.prenom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAten.identifiant"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAten.birthday"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAten.etablissement"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAten.responsable"></th>  
                                    <th></th>                              
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let eleve of eleves">
                                    <ng-template [ngIf]="eleve.nomAten!=null|| eleve.prenomAten!=null|| eleve.identifiantAten !=null||eleve.dateNaissanceAten!=null|| eleve.etablissementAten!=null|| eleve.representantLegalAten.length!=0">
                                        <td>{{eleve.nomAten}}</td>
                                        <td>{{eleve.prenomAten}}</td>
                                        <td>{{eleve.identifiantAten}}</td>
                                        <td>{{eleve.dateNaissanceAten}}</td>
                                        <td>{{eleve.etablissementAten}}</td>  
                                        <td>
                                             <tr *ngIf="eleve.representantLegalAten!=null">
                                                 <td  *ngFor="let representant of eleve.representantLegalAten">{{representant.nom}} {{representant.prenom }}</td>
                                            </tr>
                                        </td>   
                                        <td class="text-right"><a (click)="afficheDetail(eleve,'aten')" class="btn btn-sm btn-info"><i jhiTranslate="outilDiagnostic.eleve.detail" class="fa fa-eye"></i></a></td>
                                    </ng-template>
                                 </tr>  
                            </tbody>  
                        </table>
                    </div>
                </div>
        </div>
    </div>
    <!-- onglet resume-->
    <!-- onglet siecle-->
    <div *ngIf="critereRechercheService.ongletActive=='siecle'">
            <div class="col-sm-12 align-self-center">
                    <h4 jhiTranslate="outilDiagnostic.critereRecherche.ldapSiecle"></h4>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr><div *ngIf="critereRechercheService.ongletActive=='aaf'"></div>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauSiecle.nom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauSiecle.prenom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauSiecle.identifiant"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauSiecle.birthday"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauSiecle.etablissement"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauSiecle.responsable"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr *ngFor="let eleve of eleves">
                                        <ng-template [ngIf]="eleve.nomSiecle!=null || eleve.prenomSiecle!=null || eleve.identifiantSiecle!=null || eleve.dateNaissanceSiecle!=null || eleve.etablissementSiecle!=null ||eleve.representantLegalSiecle.length!=0">
                                            <td>{{eleve.nomSiecle}}</td>
                                            <td>{{eleve.prenomSiecle}}</td>
                                            <td>{{eleve.identifiantSiecle}}</td>
                                            <td>{{eleve.dateNaissanceSiecle}}</td>
                                            <td>{{eleve.etablissementSiecle}}</td>
                                            <td>
                                                <tr *ngIf="eleve.representantLegalSiecle.length!=0">
                                                     <td  *ngFor="let representant of eleve.representantLegalSiecle">{{representant.nom}} {{representant.prenom}}</td>
                                                </tr>
                                            </td>  
                                            <td  class="text-right"><a (click)="afficheDetail(eleve,'siecle')" class="btn btn-sm btn-info"><i jhiTranslate="outilDiagnostic.eleve.detail" class="fa fa-eye"></i></a></td>
                                        </ng-template>
                                    </tr>
                                </tbody> 
                        </table>
                    </div>
            </div>
    </div>
    <!-- onglet siecle-->

     <!-- onglet aaf-->
    <div *ngIf="critereRechercheService.ongletActive=='aaf'">
            <div class="col-sm-12 align-self-center">
                    <h4 jhiTranslate="outilDiagnostic.critereRecherche.ldapAaf"></h4>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAaf.nom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAaf.prenom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAaf.identifiant"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAaf.birthday"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAaf.etablissement"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAaf.classe"></th>
                                    <th></th>
                                </tr>
                            </thead> 
                            <tbody>
                                    <tr *ngFor="let eleve of eleves">
                                        <ng-template [ngIf]="eleve.nomAaf!=null || eleve.prenomAaf !=null || eleve.identifiantAaf !=null || eleve.dateNaissanceAaf!=null || eleve.classeAaf !=null">
                                            <td>{{eleve.nomAaf}}</td>
                                            <td>{{eleve.prenomAaf}}</td>
                                            <td>{{eleve.identifiantAaf}}</td>
                                            <td>{{eleve.dateNaissanceAaf}}</td>
                                            <td>{{eleve.etablissementAaf}}</td> 
                                            <td>{{eleve.classeAaf}}</td>   
                                            <td class="text-right"><a (click)="afficheDetail(eleve,'aaf')"  class="btn btn-sm btn-info"><i jhiTranslate="outilDiagnostic.eleve.detail" class="fa fa-eye"></i></a></td>
                                        </ng-template>
                                    </tr>
                                </tbody>  
                        </table>
                    </div>
            </div>
    </div>
     <!-- onglet aaf-->

      <!-- onglet toutatice-->
    <div *ngIf="critereRechercheService.ongletActive=='toutatice'">
            <div class="col-sm-12 align-self-center">
                    <h4 jhiTranslate="outilDiagnostic.critereRecherche.ldapToutatice"></h4>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauToutatice.nom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauToutatice.prenom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauToutatice.identifiant"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauToutatice.mail"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauToutatice.etatCompte"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauToutatice.lastCon"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr *ngFor="let eleve of eleves" >
                                        <ng-template [ngIf]="eleve.nomToutatice!=null || eleve.prenomToutatice !=null || eleve.identifiantToutatice!=null || eleve.mailToutatice !=null || eleve.etatCompteToutatice !=null || eleve.lastConToutatice!=null ">
                                            <td>{{eleve.nomToutatice}}</td>
                                            <td>{{eleve.prenomToutatice}}</td>
                                            <td>{{eleve.identifiantToutatice}}</td>
                                            <td>{{eleve.mailToutatice}}</td>
                                            <td>{{eleve.etatCompteToutatice}}</td>  
                                            <td>{{eleve.lastConToutatice}}</td>  
                                            <td   class="text-right"><a  (click)="afficheDetail(eleve,'toutatice')" class="btn btn-sm btn-info"><i jhiTranslate="outilDiagnostic.eleve.detail" class="fa fa-eye"></i></a></td>
                                        </ng-template>
                                    </tr>
                                </tbody>    
                        </table>
                    </div>
            </div>
    </div>
     <!-- ongglet toutatice-->
     <!-- onglet eduConnect-->
    <div *ngIf="critereRechercheService.ongletActive=='eduConnect'">
            <div class="col-sm-12 align-self-center">
                    <h4 jhiTranslate="outilDiagnostic.critereRecherche.ldapEduConnect"></h4>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauEduConnect.nom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauEduConnect.prenom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauEduConnect.identifiant"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauEduConnect.mail"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauEduConnect.etatCompte"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauEduConnect.lastCon"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr *ngFor="let eleve of eleves">
                                        <ng-template [ngIf]="eleve.nomEduconnect!=null|| eleve.prenomEduconnect!=null || eleve.identifiantEduconnect!=null|| eleve.mailEduconnect!=null||eleve.etatCompteEduconnect!=null || eleve.lastConEduconnect!=null">
                                            <td>{{eleve.nomEduconnect}}</td>
                                            <td>{{eleve.prenomEduconnect}}</td>
                                            <td>{{eleve.identifiantEduconnect}}</td>
                                            <td>{{eleve.mailEduconnect}}</td>
                                            <td>{{eleve.etatCompteEduconnect}}</td>  
                                            <td>{{eleve.lastConEduconnect}}</td>  
                                            <td class="text-right"><a  (click)="afficheDetail(eleve,'Educonnect')" class="btn btn-sm btn-info"><i jhiTranslate="outilDiagnostic.eleve.detail" class="fa fa-eye"></i></a></td>
                                        </ng-template>
                                    </tr>
                                </tbody> 
                        </table>
                    </div>
            </div>
    </div>
    <!-- ongglet eduConnect-->
    <!-- ongglet aten-->
    <div *ngIf="critereRechercheService.ongletActive=='aten'">
            <div class="col-sm-12 align-self-center">
                    <h4 jhiTranslate="outilDiagnostic.critereRecherche.ldapAten"></h4>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAten.nom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAten.prenom"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAten.identifiant"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAten.birthday"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAten.etablissement"></th>
                                    <th jhiTranslate="outilDiagnostic.eleve.tableauAten.responsable"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr *ngFor="let eleve of eleves">
                                        <ng-template [ngIf]="eleve.nomAten!=null|| eleve.prenomAten!=null|| eleve.identifiantAten !=null||eleve.dateNaissanceAten!=null|| eleve.etablissementAten!=null || eleve.representantLegalAten.length!=0">
                                            <td>{{eleve.nomAten}}</td>
                                            <td>{{eleve.prenomAten}}</td>
                                            <td>{{eleve.identifiantAten}}</td>
                                            <td>{{eleve.dateNaissanceAten}}</td>
                                            <td>{{eleve.etablissementAten}}</td>  
                                            <td>
                                                <tr *ngIf="eleve.representantLegalAten.length!=0">
                                                    <td  *ngFor="let representant of eleve.representantLegalAten">{{representant.nom}} {{representant.prenom}}</td>
                                                </tr>
                                            </td>  
                                            <td class="text-right"><a (click)="afficheDetail(eleve,'aten')" class="btn btn-sm btn-info"><i jhiTranslate="outilDiagnostic.eleve.detail" class="fa fa-eye"></i></a></td>
                                        </ng-template>
                                     </tr>  
                                </tbody>   
                        </table>
                    </div>
            </div>
    </div>
    <!-- ongglet aten-->
</div>